mat-toolbar{
    background-color: black;
    border-top: 2pt solid #888888;
}
mat-toolbar-row{
    justify-content: space-evenly;
}

a{
    padding: 16px;
    border-radius: 16px;
}

a:link{
    color: white;
    text-decoration: none;
}
a:visited
{
    color: white;
    text-decoration: none;
}
a:hover{
    background-color: #353441;
    border-radius: 48px;
    transition: background-color, border-radius 0.6s ease-out;
}

@media only screen and (max-width: 1000px){
    a{
        font-size: 2vw;
        padding: 2vw;
    }
}