:host{
    height: 100%;
}

.plusOne{
    color: green;
    position: absolute;
}
.plusOneContainer{
    position: relative;
    display: inline;
}

#gameScoreTableDiv{
    justify-content: center;
}

#gameFormComponentDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    
}
table{
    /* border-spacing: 20px 5px; */
    border-collapse: collapse;
    border: solid white 2px;
}

tr{
    text-align: center;
    border-bottom: solid white 1px;
}
td{
    padding: 5px 32px
}

form{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.formDivs{
    display:flex;
    min-width: 212px;
}


@media only screen and (max-width: 1000px){
    .formDivs{
        min-width: 0;
        margin: 2% 0%;
    }
    form{
        margin: auto auto
    }
    mat-form-field{
        width: auto;
    }
}
