#bigContainer{
    background-color: black;
    width: 100%;
    min-height: 500px;
    margin: 5% 0%;
    display: flex;
    flex-direction: row;
}
h2{
    margin: 3% 0%;
    text-align: center;
}

.PriceDiv{
    flex-direction: column;
    align-items: center;

}

#section1{
    display: flex;
    width: 100%;
}

#pastPriceDiv{
    display: flex;
    width: 100%;
}
#graph{
    width: 100%;
    margin: auto 0%;
}

#currentPriceDiv{
    display: flex;
    width: 100%;
    transition: width 2s; 

}
app-stock-info-card{
    width: 75%;
    margin: 10% 0%;
    transition:  margin 2s;
    
}

.clickableStockCard:hover{
    transform: scale(1.1);
    transition:  transform 1s;
}

button{
    margin-top: auto;
    background-color: #151f4d;
    color: white;
    padding: 10%;
    border-radius: 16px;
    opacity: 0;
    display: hide;
    transition: opacity 2s;
}

.priceCardDivs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



@media only screen and (max-width: 1000px){

    #bigContainer{
        flex-direction: column;
        margin: 10% 0%;
        width: auto;
    }
    hr{
        width: 90%;
    }
    app-stock-info-card{
        width: 30%;
        margin: 2% 0%;
        transition:  margin 2s;
        
    }
    .PriceDiv{
        flex-direction: column;
        flex-wrap: wrap;
        padding: 10% 0%;
    
    }
    button{
        margin: 0% auto;
        background-color: #151f4d;
        color: white;
        padding: 2%;
        border-radius: 16px;
        opacity: 0;
        display: hide;
        transition: opacity 2s;
    }

    .priceH2Divs{
        flex-direction: column;
    }

    .priceCardDivs{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    
}
