<h2 style="margin-top: 5%">About Me</h2>
<hr>
<p class="tab">Hi there! As a recent graduate with a passion for back-end development, I'm excited to pursue a career in software engineering. 
    During my internship, I was tasked with developing and maintaining the back-end of a complex web application, and I loved every minute of it which solidified my passion for programming. 
    While I appreciate the importance of front-end development, my true passion lies in the back-end, where I can apply my technical expertise to create efficient, scalable, and reliable systems.
    I'm always eager to learn and take on new challenges, and I work well both independently and as part of a team. 
    I'm excited to bring my skills and enthusiasm to a new opportunity in software development, and I look forward to discussing how I can contribute to your team.</p>

<h2 style="margin-top: 15%">Resume</h2>
<hr>
<app-resume></app-resume>

<h2 style="margin-top: 15%">Extra Info</h2>
<hr>
<app-extra-info></app-extra-info>
