#slideShowContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 3% -20% 10% -20%;
    border: 2px solid #888888;
    box-shadow: 10px 10px 5px 0px black, -10px 10px 5px 0px black;
}
h2{
    margin: 5% 0% 0% 0% ;
    text-align: center;
}

#pictureForSlideShowContainer{
    max-width: 65%;
    min-width: 65%;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: black;
    padding: 3% 0%;
}

#pictureForSlideShow{
    margin-left: auto;
    margin-right: auto;
}
img{
    height: auto;
    width:100%;
    
}
#descriptionForSlideShow{
    width: 35%;
    padding: 4px;
    display: flex;
    justify-items: center;
    align-items: center;
}
button{
    /* background-color: #151f4d; */
    background-color: #353441;
    color: white;
    border: none;
    padding: 0px 16px;
}
button:hover{
    background-color: black;
}
.enlarge{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    transform: scale(0.9);
    transition: transform 1s ease;

    margin: auto;
    right: 0;
}

#UXTextHelp{
    position: absolute;
    text-align: center;
    bottom: 0;
    right: 0;
    left: 0;
    color: red;
    font-size: 32px;
}
.hide{
    display: none;
}