header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

#emptyHeaderSpace{
    width: 15%;
}

#mainHeaderCenter{
    margin: auto 0px;
    text-align: center;
}
h1{
    font-size:40pt;
    padding: 5% 0%;
    line-height: 100%;
}
h2{
    font-size: 20pt;
}
#contactInfoSection{
    text-align: right;
    margin-top: auto;
    width: 15%;
}
#contactInfoSection a{
    padding: 0px 8px;
}