<header>
    <div id="emptyHeaderSpace"></div>
    <div id="mainHeaderCenter">
        <h1>Jeremiah Richard</h1>
        <h2>Bachelor of Science in Computer Programming</h2>
    </div>

    <div id="contactInfoSection">
        <p>Email:                 {{email}}</p>
        <p>Phone:  {{phoneNumber}}</p>
        <div id="socialMediaSection">
            <a [href]="linkedInURL" target="_blank" rel="noopener noreferrer"><img src="../../assets/pictures/LI-In-Bug (2).png" width="57" height="50"></a>
            <a [href]="githubURL" target="_blank" rel="noopener noreferrer"><img src="../../assets/pictures/github-mark-white.png" width="50" height="50"></a>
        </div>
    </div>
</header>

