

.collision-state {
    background-color: green;
  }

.gameContainer{
    height: 500px;
    width: 500px;
    background: gray;
    border: solid white 2px;
    position: relative;
}

.collidable{
  border-radius: 50%;
  display: inline-block;
  background-color: blue;
  position: absolute;
}

.scoreSquare{
  border-radius: 0%;
  display: flex;
  border: solid black 2px;
  border-left: none;
  border-top: none;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.firstScoreSquare{
  border-left: solid black 2px;
  border-right: solid black 2px;
}